body {
  background-color: #FFFFE0;
  color: navy;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

header { 
  background-color: navy;
  padding:2%;
  border-radius:15px;
} 

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 200%;
  text-align:center;
}

.ui.table thead th{
  background: navy;
  color: white;
}

.ui.striped.table > tr:nth-child(2n),
.ui.striped.table tbody tr:nth-child(2n) {
  background-color: rgba(230,230,250, .8);
}

.ui.selectable.table tbody tr:hover,
.ui.table tbody tr td.selectable:hover {
  background-color: rgba(230,230,250,.6) !important;
}
    



