table{
	width: 60%;
	margin: 5% auto;
	border-collapse: collapse;
}

th, td {
	border-left: 1px solid #336633;
	border-right: 1px solid #336633;
	padding: .4em;
}

thead {
	background-color: #339933;
	color: white;
}

tbody td {
	text-align: center;
}

tbody td:nth-of-type(3) {
	font-style: italic;
}

tbody tr:nth-of-type(2n-1) {
	background-color: #99ff99;
}

tbody tr:nth-of-type(2n) {
	background-color: #88ee88;
}

thead th:nth-of-type(1), tbody th {
	text-align: left;
}

tbody tr:hover {
	background-color: #339933;
}