html,body {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

.ui.container {
  margin-top: 3em;
}

.ui.table thead th {
  background-color: rgb(158, 76, 76);
  color: white;
}

.ui.striped.table > tr:nth-child(2n),.ui.striped.table tbody tr:nth-child(2n) {
  background-color: rgba(158, 76, 76, .3);
}

.ui.selectable.table tbody tr:hover,.ui.table tbody tr td.selectable:hover {
  background-color: rgba(158, 76, 76, .5) !important;
}